/* Navigation */ /* Navigation */

.nav {
  background-color: white;
  border-bottom: 0.4rem dashed var(--golden-color);
  font-family: "Pacifico", cursive;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

ul {
  list-style: none;

  .nav__option {
    color: var(--primary-color);
    font-size: 1.8rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    word-spacing: 0.3rem;
    width: 100%;

    &:first-child {
      margin-top: 1rem;
    }

    &:active {
      background-color: var(--golden-color);
    }
  }

  .nav__button {
    border: none;
    background-color: white;
    font-size: 3rem;
    padding: 1.5rem;
  }
}

.nav__gold-course {
  border-top: 0.1rem solid var(--golden-color);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  text-align: center;
}

/////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
/* Header */ /* Header */

.header {
  color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr 1fr;
  height: 100vh;
  perspective: 45rem;
  text-align: center;

  &__title {
    align-self: center;
    animation: moveTitle 12s infinite both;
    border-radius: 4rem;
    box-shadow: 0.2rem 0.2rem 1rem black;
    font-family: "Quintessential", cursive;
    justify-self: center;
    transform: rotateY(-10deg);
    transition: 0.6s;

    span {
      display: block;
      transform: skew(-15deg);
    }
  }

  &__motto {
    font-family: "Pacifico", cursive;
    margin: 3.5rem auto;

    span {
      border-radius: 30%;
      color: var(--primary-color);
      font-size: 150%;
      font-weight: bold;
      padding: 0.4rem 0.8rem;
    }
  }

  h3 {
    align-self: flex-end;
    animation: pulse 2.6s linear infinite both;
    font-family: "Supermercado One", cursive;
    margin-bottom: 10%;
  }
}

@keyframes moveTitle {
  0% {
    transform: rotateY(-8deg);
  }

  50% {
    transform: rotateY(8deg);
  }

  100% {
    transform: rotateY(-8deg);
  }
}

@keyframes showUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    visibility: 0%;
  }
  45% {
    box-shadow: 0 0 3rem 1rem var(--golden-color);
    opacity: 1;
    transform: scaleX(1.15);
    visibility: 100%;
  }
  55% {
    box-shadow: 0 0 3rem 1rem var(--golden-color);
    opacity: 1;
    transform: scaleX(1.15);
    visibility: 100%;
  }
  100% {
    opacity: 0;
    visibility: 0%;
  }
}
////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
/* Main - golden items */ /* Main - golden items */

.golden-coins__container {
  display: grid;
  grid-template-rows: 1fr repeat(3, 3fr);
  justify-items: center;
  width: 100%;
}

.golden-bars__container {
  @extend .golden-coins__container;
  grid-template-rows: 1fr repeat(2, 3fr);
}

.golden-item--header {
  align-self: center;
  font-family: "Pacifico", cursive;
  justify-self: stretch;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  text-align: center;
}

.golden-item {
  flex-wrap: wrap;
  margin: 5rem auto;
  text-align: center;
  width: 100%;

  &--image {
    object-fit: cover;
    width: 75%;
  }

  &--price {
    background-color: var(--golden-color);
    font-size: 1.6rem;
    margin: 0.4rem auto;
    width: 50%;
  }

  &--link {
    color: var(--primary-color);
    font-size: 1.8rem;
    text-decoration: underline;
  }
}

////////////////////////////////////////
////////////////////////////////////////
/* Footer */ /* Footer */

.copyright {
  letter-spacing: 0.2rem;
  margin: 5% 0;
  padding: 2rem 0.5rem;
  text-align: center;

  .made-by {
    font-family: "Staatliches", cursive;
  }

  .dont-copy {
    font-family: "Quintessential", cursive;
    letter-spacing: 0;
  }
}
