@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Lobster&family=Pacifico&family=Quintessential&family=Staatliches&family=Supermercado+One&display=swap");
/* font-family: 'Comforter', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Quintessential', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Supermercado One', cursive; */
:root {
  --golden-color: #ffd700;
  --primary-color: #222;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 85%;
  overflow-x: hidden;
  margin: 0 auto;
}

/* Specifying fonts */
h1 {
  font-size: 3.9rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.3rem;
}

.font-thin-italic {
  font-style: italic;
  font-weight: 300;
}

.font-weight-700 {
  font-weight: 700;
}

/* Styling specific colors */
.golden-color {
  background-color: var(--golden-color);
}

/* Flex classes */
.flex, .flex--column, .flex--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Effects */
.border__bottom {
  border-bottom: 0.3rem solid #c8c8c8;
  border-radius: 3%;
}

.shining__borders {
  -webkit-box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem var(--primary-color), -0.1rem -0.1rem 0.8rem 0.1rem var(--primary-color);
          box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem var(--primary-color), -0.1rem -0.1rem 0.8rem 0.1rem var(--primary-color);
}

/* Layout */
.margin__top--sections {
  margin-top: 15%;
}

/* Hamburger icon and action */
.center {
  cursor: pointer;
  top: 6%;
  right: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  width: 2.5rem;
  z-index: 101;
}

.center:before,
.center:after,
.center div {
  background-color: var(--primary-color);
  content: "";
  display: block;
  height: 0.3rem;
  border-radius: 0.3rem;
  margin: 0.7rem 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.center.hamburger__active:before {
  -webkit-transform: translateY(1.2rem) rotate(135deg);
          transform: translateY(1.2rem) rotate(135deg);
}

.center.hamburger__active:after {
  -webkit-transform: translateY(-1.2rem) rotate(-135deg);
          transform: translateY(-1.2rem) rotate(-135deg);
}

.center.hamburger__active div {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (max-width: 900px) {
  /* Navigation */
  /* Navigation */
  .nav {
    background-color: white;
    border-bottom: 0.4rem dashed var(--golden-color);
    font-family: "Pacifico", cursive;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  ul {
    list-style: none;
  }
  ul .nav__option {
    color: var(--primary-color);
    font-size: 1.8rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    word-spacing: 0.3rem;
    width: 100%;
  }
  ul .nav__option:first-child {
    margin-top: 1rem;
  }
  ul .nav__option:active {
    background-color: var(--golden-color);
  }
  ul .nav__button {
    border: none;
    background-color: white;
    font-size: 3rem;
    padding: 1.5rem;
  }
  .nav__gold-course {
    border-top: 0.1rem solid var(--golden-color);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
  }
  /* Header */
  /* Header */
  .header {
    color: var(--primary-color);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 3fr 2fr 1fr;
        grid-template-rows: 3fr 2fr 1fr;
    height: 100vh;
    -webkit-perspective: 45rem;
            perspective: 45rem;
    text-align: center;
  }
  .header__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-animation: moveTitle 12s infinite both;
            animation: moveTitle 12s infinite both;
    border-radius: 4rem;
    -webkit-box-shadow: 0.2rem 0.2rem 1rem black;
            box-shadow: 0.2rem 0.2rem 1rem black;
    font-family: "Quintessential", cursive;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transform: rotateY(-10deg);
            transform: rotateY(-10deg);
    -webkit-transition: 0.6s;
    transition: 0.6s;
  }
  .header__title span {
    display: block;
    -webkit-transform: skew(-15deg);
            transform: skew(-15deg);
  }
  .header__motto {
    font-family: "Pacifico", cursive;
    margin: 3.5rem auto;
  }
  .header__motto span {
    border-radius: 30%;
    color: var(--primary-color);
    font-size: 150%;
    font-weight: bold;
    padding: 0.4rem 0.8rem;
  }
  .header h3 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-animation: pulse 2.6s linear infinite both;
            animation: pulse 2.6s linear infinite both;
    font-family: "Supermercado One", cursive;
    margin-bottom: 10%;
  }
  @-webkit-keyframes moveTitle {
    0% {
      -webkit-transform: rotateY(-8deg);
              transform: rotateY(-8deg);
    }
    50% {
      -webkit-transform: rotateY(8deg);
              transform: rotateY(8deg);
    }
    100% {
      -webkit-transform: rotateY(-8deg);
              transform: rotateY(-8deg);
    }
  }
  @keyframes moveTitle {
    0% {
      -webkit-transform: rotateY(-8deg);
              transform: rotateY(-8deg);
    }
    50% {
      -webkit-transform: rotateY(8deg);
              transform: rotateY(8deg);
    }
    100% {
      -webkit-transform: rotateY(-8deg);
              transform: rotateY(-8deg);
    }
  }
  @-webkit-keyframes showUp {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes showUp {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes pulse {
    0% {
      opacity: 0;
      visibility: 0%;
    }
    45% {
      -webkit-box-shadow: 0 0 3rem 1rem var(--golden-color);
              box-shadow: 0 0 3rem 1rem var(--golden-color);
      opacity: 1;
      -webkit-transform: scaleX(1.15);
              transform: scaleX(1.15);
      visibility: 100%;
    }
    55% {
      -webkit-box-shadow: 0 0 3rem 1rem var(--golden-color);
              box-shadow: 0 0 3rem 1rem var(--golden-color);
      opacity: 1;
      -webkit-transform: scaleX(1.15);
              transform: scaleX(1.15);
      visibility: 100%;
    }
    100% {
      opacity: 0;
      visibility: 0%;
    }
  }
  @keyframes pulse {
    0% {
      opacity: 0;
      visibility: 0%;
    }
    45% {
      -webkit-box-shadow: 0 0 3rem 1rem var(--golden-color);
              box-shadow: 0 0 3rem 1rem var(--golden-color);
      opacity: 1;
      -webkit-transform: scaleX(1.15);
              transform: scaleX(1.15);
      visibility: 100%;
    }
    55% {
      -webkit-box-shadow: 0 0 3rem 1rem var(--golden-color);
              box-shadow: 0 0 3rem 1rem var(--golden-color);
      opacity: 1;
      -webkit-transform: scaleX(1.15);
              transform: scaleX(1.15);
      visibility: 100%;
    }
    100% {
      opacity: 0;
      visibility: 0%;
    }
  }
  /* Main - golden items */
  /* Main - golden items */
  .golden-coins__container, .golden-bars__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr (3fr)[3];
        grid-template-rows: 1fr repeat(3, 3fr);
    justify-items: center;
    width: 100%;
  }
  .golden-bars__container {
    -ms-grid-rows: 1fr (3fr)[2];
        grid-template-rows: 1fr repeat(2, 3fr);
  }
  .golden-item--header, .golden-item .add-to-cart {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Pacifico", cursive;
    font-weight: 200;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    text-align: center;
  }
  .golden-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5rem auto;
    text-align: center;
    width: 60%;
  }
  .golden-item--image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .golden-item--price {
    background-color: var(--golden-color);
    font-size: 1.6rem;
    margin: 0.4rem auto;
    width: 50%;
  }
  .golden-item--link {
    color: var(--primary-color);
    font-size: 1.8rem;
    text-decoration: underline;
  }
  /* Footer */
  /* Footer */
  .copyright {
    letter-spacing: 0.2rem;
    margin: 5% 0;
    padding: 2rem 0.5rem;
    text-align: center;
  }
  .copyright .made-by {
    font-family: "Staatliches", cursive;
  }
  .copyright .dont-copy {
    font-family: "Quintessential", cursive;
    letter-spacing: 0;
  }
  /* Button go back */
  .goBack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 0;
    top: 4%;
    padding: 1rem 2rem;
    border: none;
    background-color: white;
  }
  .goBack i {
    font-size: 3rem;
  }
  /* Golden item */
  /* Golden item */
  .golden-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .golden-item--image {
    margin-bottom: 5%;
    margin-top: 15%;
    width: 90%;
  }
  .golden-item--price {
    font-size: 2rem;
    margin: 0.4rem auto;
    width: 100%;
  }
  .golden-item--title {
    color: var(--primary-color);
    font-family: "Lobster", cursive;
    font-size: 2rem;
  }
  .golden-item--amount {
    font-family: "Staatliches", cursive;
    letter-spacing: 0.2rem;
    margin: 3rem auto 1rem 1rem;
    width: 90%;
    height: 30%;
  }
  .golden-item--amount h3 {
    font-size: 2rem;
  }
  .golden-item--amount .add,
  .golden-item--amount .remove {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-family: "Staatliches", cursive;
    font-size: 2.6rem;
  }
  .golden-item--amount .remove {
    margin-left: auto;
  }
  .golden-item--amount input {
    font-size: 1.8rem;
    margin: 0 1rem;
    text-align: center;
    width: 20%;
  }
  .golden-item .add-to-cart {
    border: none;
    border-radius: 5%;
    font-size: 1.8rem;
    margin: 8% auto 15%;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    width: 95%;
  }
  .golden-item .add-to-cart:active {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  /* Section product about */
  .product__about--header {
    font-family: "Lobster", cursive;
    padding: 1.2rem 2rem;
  }
  .product__about--description {
    font-family: "Quintessential", cursive;
    line-height: 190%;
    margin: 2rem auto 0;
    width: 90%;
  }
  .product__about--description span {
    border-radius: 10%;
    padding: 0.1rem;
  }
  .product__about--description:last-child {
    margin-bottom: 10%;
  }
}

@media (min-width: 901px) {
  /* Styling NAV elements */
  .nav {
    position: relative;
    z-index: 1000;
    /*  TODO: javascript will trigger this when scrolling down */
    /*   &.sticky {
      position: fixed;
    } */
  }
  /* KEYFRAMES */
  @-webkit-keyframes shake {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    6% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    12% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    18% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    24% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    30% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    36% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @keyframes shake {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    6% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    12% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    18% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    24% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    30% {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
    36% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
}
/*# sourceMappingURL=style.css.map */