@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Lobster&family=Pacifico&family=Quintessential&family=Staatliches&family=Supermercado+One&display=swap");

$font-lobster: "Lobster", cursive;
$font-pacifico: "Pacifico", cursive;
$font-quintessential: "Quintessential", cursive;
$font-staatliches: "Staatliches", cursive;
$font-supermercado: "Supermercado One", cursive;
$golden-color: #ffd700;
$primary-color: #222;
$error-color: rgb(255, 0, 0);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 85%;
  overflow-x: hidden;
  margin: 0 auto;
}

@media screen and (min-width: 390px) {
  html {
    font-size: 70%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 77.5%;
  }
}

@media screen and (min-width: 890px) {
  html {
    font-size: 107.5%;
  }
}

@media (min-height: 600px) and (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-height: 900px) and (min-width: 1440px) {
  html {
    font-size: 70%;
  }
}

@media (min-height: 1080px) and (min-width: 1920px) {
  html {
    font-size: 85%;
  }
}
