/* Hamburger icon and action */ /* Hamburger icon and action */
// https://codepen.io/Bilal1909/pen/KKdrmRP - change from hover to active
/* Hamburger icon and action */ /* Hamburger icon and action */

.center {
  cursor: pointer;
  top: 6%;
  right: 0%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 2.5rem;
  z-index: 101;
}

.center:before,
.center:after,
.center div {
  background-color: $primary-color;
  content: "";
  display: block;
  height: 0.3rem;
  border-radius: 0.3rem;
  margin: 0.7rem 0;
  transition: 0.5s;
}
.center.hamburger__active:before {
  transform: translateY(1.2rem) rotate(135deg);
}
.center.hamburger__active:after {
  transform: translateY(-1.2rem) rotate(-135deg);
}
.center.hamburger__active div {
  transform: scale(0);
}

/* Button go back */ /* Button go back */
/* Button go back */ /* Button go back */

.go-back--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 4%;
  padding: 1rem 2rem;
  border: none;
  background-color: white;

  i {
    font-size: 3rem;
  }
}

/* Golden item header */
/* Golden item header */

.golden-item--header {
  align-self: center;
  font-family: "Pacifico", cursive;
  justify-self: stretch;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  text-align: center;
}
