/* Specifying fonts */
/* Specifying fonts */

h1 {
  font-size: 3.9rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.3rem;
}

.font-thin-italic {
  font-style: italic;
  font-weight: 300;
}

.font-weight-700 {
  font-weight: 700;
}

/* Styling specific colors */
/* Styling specific colors */

.golden-color {
  background-color: $golden-color;
}

/* Flex classes */
/* Flex classes */

.flex {
  display: flex;
}

.flex--column {
  @extend .flex;
  flex-direction: column;
}

.flex--center {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

/* Border effects */
/* Border effects */

.border__bottom {
  border-bottom: 0.3rem solid #c8c8c8;
  border-radius: 3%;
}

.shining__borders {
  box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem $primary-color,
    -0.1rem -0.1rem 0.8rem 0.1rem $primary-color;
}

/* Layout */
/* Layout */

.margin__top--15 {
  margin-top: 15%;
}
