///////////////////////////////////////////////
/* Specifying fonts */

h1 {
  font-size: 3.9rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.3rem;
}

.font-thin-italic {
  font-style: italic;
  font-weight: 300;
}

.font-weight-700 {
  font-weight: 700;
}

///////////////////////////////////////////////
/* Styling specific colors */
.golden-color {
  background-color: var(--golden-color);
}

///////////////////////////////////////////////
/* Flex classes */
.flex {
  display: flex;
}

.flex--column {
  @extend .flex;
  flex-direction: column;
}

.flex--center {
  @extend .flex;
  align-items: center;
  justify-content: center;
}

.flex--evenly {
  @extend .flex;
  justify-content: space-evenly;
}

.flex--around {
  @extend .flex;
  justify-content: space-around;
}

///////////////////////////////////////
/* Effects */

.border__bottom {
  border-bottom: 0.3rem solid #c8c8c8;
  border-radius: 2%;
  box-shadow: 0.3rem solid #c8c8c8, 0.6rem solid #fff, 0.9rem solid #c8c8c8;
}

.shining__borders {
  box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem var(--primary-color),
    -0.1rem -0.1rem 0.8rem 0.1rem var(--primary-color);
}

///////////////////////////////////////
/* Layout */

.margin__top--sections {
  margin-top: 15%;
}
