/* Navigation */ /* Navigation */

.nav {
  background-color: white;
  border-bottom: 0.4rem dashed $golden-color;
  font-family: $font-pacifico;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &.hiddenNav {
    transform: translateY(calc(-100% + 2rem));
  }
}

ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;

  .nav__option {
    color: $primary-color;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
    word-spacing: 0.3rem;

    &:first-child {
      margin-top: 1rem;
    }

    &:active {
      background-color: $golden-color;
    }

    &[data-option="shopping-cart"] {
      margin-bottom: 5%;

      &:active {
        background-color: white;
      }

      .go-to-shopping-cart {
        background-color: $golden-color;
        border: 0.1rem solid $primary-color;
        border-radius: 5%;
        font-family: $font-staatliches;
        font-size: inherit;
        letter-spacing: 0.1rem;
        padding: 0.8rem 2rem;
        transition: 0.3s;
        width: 80%;
        word-spacing: 0.4rem;
        &:active {
          filter: brightness(1.15);
          transform: scale(0.96);
        }
      }
    }
  }
}

.nav__gold-course {
  border-top: 0.1rem solid $golden-color;
  letter-spacing: 0.1rem;
  font-family: $font-staatliches;
  position: relative;
  text-align: center;
}

@media (min-height: 600px) and (min-width: 1024px) {
  .nav {
    position: relative;

    &.hiddenNav {
      transform: translateY(0);
    }
  }

  ul {
    flex-direction: row;
    justify-content: space-between;
    padding: 1.4rem 0.6rem;

    .nav__option {
      flex-grow: 1;
      font-size: 1.6rem;
      padding: 0.6rem 0.3rem;
      width: 15%;

      &[data-option="shopping-cart"] {
        flex-grow: 3;
        margin-bottom: 0;

        &:active {
          background-color: white;
        }

        .go-to-shopping-cart {
          padding: 1.2rem;
          word-spacing: 0.3rem;
        }
      }
    }
  }

  .nav__gold-course {
    border-top: 0.4rem dashed $golden-color;
    word-spacing: 0.3rem;
    padding: 0.6rem 0;
  }
}
