/* Golden item */ /* Golden item */
.golden-item__product {
  @extend .golden-item;
  flex-direction: row;
  width: 100%;

  &--image {
    @extend .golden-item--image;
    margin-bottom: 5%;
    width: 90%;
  }

  &--price {
    @extend .golden-item--price;
    font-size: 2rem;
    margin: 0.4rem auto;
    width: 100%;
  }

  &--title {
    color: $primary-color;
    font-family: $font-lobster;
    font-size: 2rem;
  }

  &--amount {
    font-family: $font-staatliches;
    letter-spacing: 0.2rem;
    margin: 3rem auto 1rem 1rem;
    width: 90%;
    height: 30%;

    h3 {
      font-size: 2rem;
    }

    input {
      font-size: 1.8rem;
      margin: 0 1rem 0 30%;
      text-align: center;
      width: 20%;
    }
  }

  .error-amount--container {
    font-family: $font-supermercado;
    width: 100%;

    p {
      color: $error-color;
      font-size: 1.7rem;
      font-weight: bold;
    }
  }

  .add-to-cart {
    @extend .golden-item--header;
    border: none;
    border-radius: 5%;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin: 8% auto 15%;
    text-transform: uppercase;
    transition: 0.1s;
    width: 60%;

    &:active {
      transform: scale(0.96);
    }
  }
}

/////////////////////////////////////////////////
/////////////////////////////////////////////////
/* Section product about */

.product__about {
  &--header {
    font-family: $font-lobster;
    margin-bottom: 15%;
    padding: 1.2rem 2rem;
  }

  &--description {
    font-family: $font-quintessential;
    line-height: 190%;
    margin: 2rem auto 0;
    width: 90%;

    span {
      border-radius: 10%;
      padding: 0.1rem;
    }

    &:last-child {
      margin-bottom: 10%;
    }
  }

  .crossed {
    display: inline-block;
    position: relative;

    &::after {
      background-color: $primary-color;
      content: "";
      height: 0.2rem;
      left: 0;
      top: 50%;
      position: absolute;
      right: 0;
      transform: translateY(50%);
    }
  }
}
