<<<<<<< HEAD
/* TODO: IMPROVE ANIMATION */

.overlay {
  background-color: $primary-color;
  bottom: 0;
  filter: blur(3px);
  height: 100vh;
  left: 0;
  opacity: 0.9;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  z-index: 1001;
}

.added-to-cart {
  align-items: center;
  background-color: white;
  box-shadow: 0.8rem 2rem 3rem -2rem $golden-color,
    -0.8rem -2rem 3rem -2rem $golden-color;
  border-radius: 2rem;
  flex-wrap: wrap;
  font-family: "Lobster", cursive;
  justify-content: space-around;
  left: 50%;
  min-height: 40%;
  padding: 0.4rem 1rem;
  position: fixed;
  text-align: center;
  top: 10%;
  transform: translateX(-50%);
  transition: 0.5s;
  width: 80%;
  z-index: 1002;

  &--heading,
  &--paragraph {
    flex-basis: 100%;
  }

  &--paragraph {
    font-family: "Pacifico", cursive;
    font-size: 200%;
    margin-top: 10%;
  }

  &--btn {
    @extend .golden-item--header;
    border: none;
    border-radius: 5%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: 0.1s;

    &:active {
      transform: scale(0.96);
    }
  }
}
=======
/* TODO: IMPROVE ANIMATION */

.overlay {
  background-color: $primary-color;
  bottom: 0;
  filter: blur(3px);
  height: 100vh;
  left: 0;
  opacity: 0.9;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
  z-index: 1001;
}

.added-to-cart {
  align-items: center;
  background-color: white;
  box-shadow: 0.8rem 2rem 3rem -2rem $golden-color,
    -0.8rem -2rem 3rem -2rem $golden-color;
  border-radius: 2rem;
  flex-wrap: wrap;
  font-family: "Lobster", cursive;
  justify-content: space-around;
  left: 50%;
  min-height: 40%;
  padding: 0.4rem 1rem;
  position: fixed;
  text-align: center;
  top: 10%;
  transform: translateX(-50%);
  transition: 0.5s;
  width: 80%;
  z-index: 1002;

  &--heading,
  &--paragraph {
    flex-basis: 100%;
  }

  &--paragraph {
    font-family: "Pacifico", cursive;
    font-size: 200%;
    margin-top: 10%;
  }

  &--btn {
    @extend .golden-item--header;
    border: none;
    border-radius: 5%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: 0.1s;

    &:active {
      transform: scale(0.96);
    }
  }
}
>>>>>>> 11772c1edfad77a25fd2442833c0dec8b79b0614
