/* Footer */ /* Footer */

.copyright {
  letter-spacing: 0.2rem;
  margin: 5% 0;
  padding: 2rem 0.5rem;
  text-align: center;

  .made-by {
    font-family: "Staatliches", cursive;
  }

  .dont-copy {
    font-family: "Quintessential", cursive;
    letter-spacing: 0;
  }
}
