/* Header */ /* Header */

.header {
    color: $primary-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    height: 100vh;
    perspective: 45rem;
    text-align: center;
  
    &__title {
      align-self: center;
      animation: moveTitle 12s infinite both;
      border-radius: 4rem;
      box-shadow: 0.2rem 0.2rem 1rem black;
      font-family: "Quintessential", cursive;
      justify-self: center;
      transform: rotateY(-10deg);
      transition: 0.6s;
  
      span {
        display: block;
        transform: skew(-15deg);
      }
    }
  
    &__motto {
      font-family: "Pacifico", cursive;
      margin: 3.5rem auto;
  
      span {
        border-radius: 30%;
        color: $primary-color;
        font-size: 150%;
        font-weight: bold;
        padding: 0.4rem 0.8rem;
      }
    }
  
    h3 {
      align-self: flex-end;
      animation: pulse 2.6s linear infinite both;
      font-family: "Supermercado One", cursive;
      margin-bottom: 10%;
    }
  }
  
  @keyframes moveTitle {
    0% {
      transform: rotateY(-8deg);
    }
  
    50% {
      transform: rotateY(8deg);
    }
  
    100% {
      transform: rotateY(-8deg);
    }
  }
  
  @keyframes showUp {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes pulse {
    0% {
      opacity: 0;
      visibility: 0%;
    }
    45% {
      box-shadow: 0 0 3rem 1rem $golden-color;
      opacity: 1;
      transform: scaleX(1.15);
      visibility: 100%;
    }
    55% {
      box-shadow: 0 0 3rem 1rem $golden-color;
      opacity: 1;
      transform: scaleX(1.15);
      visibility: 100%;
    }
    100% {
      opacity: 0;
      visibility: 0%;
    }
  }