/* Main */ /* Main */

.golden-coins__container {
    display: grid;
    grid-template-rows: 1fr repeat(3, 3fr);
    justify-items: center;
    width: 100%;
  }
  
  .golden-bars__container {
    @extend .golden-coins__container;
    grid-template-rows: 1fr repeat(2, 3fr);
  }
  
  .golden-item {
    flex-wrap: wrap;
    margin: 5rem auto;
    text-align: center;
    width: 100%;
  
    &--image {
      object-fit: cover;
      width: 75%;
    }
  
    &--price {
      background-color: $golden-color;
      font-size: 1.6rem;
      margin: 0.4rem auto;
      width: 50%;
    }
  
    &--link {
      color: $primary-color;
      font-size: 1.8rem;
      text-decoration: underline;
    }
  }
