/* Navigation */ /* Navigation */

.nav {
    background-color: white;
    border-bottom: 0.4rem dashed $golden-color;
    font-family: "Pacifico", cursive;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  ul {
    list-style: none;
  
    .nav__option {
      color: $primary-color;
      font-size: 1.8rem;
      padding: 1rem 2rem;
      text-align: center;
      text-decoration: none;
      width: 100%;
      word-spacing: 0.3rem;
  
      &:first-child {
        margin-top: 1rem;
      }
  
      &:active {
        background-color: $golden-color;
      }
    }
  
    .nav__button {
      border: none;
      background-color: white;
      font-size: 3rem;
      padding: 1.5rem;
    }
  }
  
  .nav__gold-course {
    border-top: 0.1rem solid $golden-color;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
  }
  