@import "./Utils/basic";
@import "./Utils/general";
@import "./Utils/components";

@import "./Views/_Navigation.scss";
@import "./Views/_Header.scss";
@import "./Views/_Main.scss";
@import "./Views/_Product.scss";
@import "./Views/_TnC.scss";
@import "./Views/_AddedToCart.scss";
@import "./Views/_Cart.scss";
@import "./Views/_Footer.scss";
